# AWS credentials for local deployment.
# Get these from IAM Identity Center, IAM User access keys, AWS Academy, or your lab account.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_REGION=us-east-1

# General project settings.
PROJECT_NAME=chinook
CFN_STACK_NAME=chinook-analytics
ANALYTICS_BUCKET=mi-bucket-chinook-analytics-unico
ATHENA_DATABASE=chinook_analytics
RAW_PREFIX=raw/chinook
CURATED_PREFIX=curated/chinook
SCRIPTS_PREFIX=jobs/glue
ATHENA_RESULTS_PREFIX=athena/results

# Glue settings.
# In AWS Academy Learner Lab this is usually arn:aws:iam::<account-id>:role/LabRole.
GLUE_ROLE_ARN=arn:aws:iam::<account-id>:role/LabRole
GLUE_JDBC_CONNECTION_NAME=chinook-postgres
DIM_DATE_START_DATE=2009-01-01
DIM_DATE_END_DATE=2030-12-31

# Transactional PostgreSQL connection used by Glue.
JDBC_URL=jdbc:postgresql://<host>:5432/chinook
JDBC_USERNAME=
JDBC_PASSWORD=

# VPC networking for the Glue JDBC connection.
GLUE_SUBNET_ID=subnet-xxxxxxxx
GLUE_SECURITY_GROUP_ID=sg-xxxxxxxx
GLUE_VPC_ID=vpc-xxxxxxxx
GLUE_ROUTE_TABLE_ID=rtb-xxxxxxxx
GLUE_AVAILABILITY_ZONE=us-east-1a
